nav.navigation.navbar.navbar-expand-lg.navbar-light.bg-light
  
  .container  
    .left-side
      a.btn.btn-light.btn--with-icon_left(href='#' role='button')
          i.fa.fa-bars
      a.navbar-brand(href='#')
        img(src="/logos/logo.svg" alt="Djinni")
      
    .content
      
      include ./navigation/main-links
      include ./navigation/profile-dropdown
