.notice.notice_promotion.alert.alert-info.alert-dismissible.fade.show(role='alert')
  .container
    .notice-content
      span.notice-message Повідом про найм та виграй MacBook Pro M1 256 GB! 
      a.notice-link(href='#')
        strong Детальніше 
          i →
    .notice-close(data-bs-dismiss='alert' aria-label='Close')
      i.fa.fa-times
