+list-links--simple&attributes({
  listClass: ['navigation-list navbar-nav me-auto'],
  listItemClass: ['nav-item'],
  listItemLinkClass: ['nav-link'],
  listLinks: [{name: 'Пропозиції', link: '#пропозиції'},
              {name: 'Вакансії', link: '#вакансії'},
              {name: 'Зарплати', link: '#зарплати'}]
})
