footer.footer
  .container
    .content.content_logo
      .logo
        a(href='#')
          img(src="/logos/logo-small.svg" alt="Djinni")
          
      a.btn.btn-secondary(href='#' role='button')
        span Ви рекрутер?
        
    .content.content_copyrights
      .copyright © 2021 Djinni.co
        
      .items-set
        a.btn.btn-outline-secondary.btn--with-icon_left(href='#' role='button')
          i.fa.fa-envelope
          span magic@djinni.co
        a.btn.btn-outline-secondary.btn--with-icon_left(href='#' role='button')
          i.fa.fa-paper-plane
          span Telegram Bot
        a.btn.btn-outline-secondary.btn--with-icon_left(href='#' role='button')
          i.fa.fa-paper-plane
          span Support
        a.btn.btn-outline-secondary.btn--with-icon_left(href='#' role='button')
          i.fa.fa-question-circle
          span Djinni support team
