.notice.notice_infoblock
  .container.container_narrow
    .notice-content
      .notice-message
        h3 Бейджик «перевірений кандидат»
        p Якщо у вас вже був успішний найм на Джині, повідомте нам. Ми додамо вам у профіль бейджик «перевірений кандидат», стане в нагоді при наступному пошуку роботи.
      .notice-footer      
        a.btn.btn-light.btn--with-icon_left(href='#' role='button')
          i.fa.fa-star.icon--star-orange
          span Повідомити про найм
