extends ./layout/base

block content

	.app-view
		
		include ./components/top-panel
		
		main.app-content
			include ./sections/profile-views
			include ./sections/vacancies
			
			include ./components/notice--info-block
			
			include ./sections/rating
			include ./sections/footer
			
