//- // Search Engine Preview Tags 
//- // Google
//- meta(itemprop='name', content='Djinni - анонимный поиск работы')
//- meta(itemprop='description', content='анонимный поиск работы')
//- meta(itemprop='image', content='https://____________________/images/search_engine_preview.png')

//- // Open Graph / Facebook
//- meta(property='og:type', content='website')
//- meta(property='og:url', content='https://____________________/')
//- meta(property='og:title', content='Djinni - анонимный поиск работы')
//- meta(property='og:description', content='анонимный поиск работы')
//- meta(property='og:image', content='https://____________________/images/search_engine_preview.png')

//- // Twitter
//- meta(property='twitter:card', content='summary_large_image')
//- meta(property='twitter:url', content='https://____________________/')
//- meta(property='twitter:title', content='Djinni - анонимный поиск работы')
//- meta(property='twitter:description', content='анонимный поиск работы')
//- meta(property='twitter:image', content='https://____________________/images/search_engine_preview.png')
