.vacancie {
  position: relative;
  display: flex;
  transition: $transition;
  
  .content {
    position: relative;
    display: flex;   
    flex-direction: column;
    padding: $indent_l 0 $indent_xl;
    
    @media #{$tablet-avg-and-up} { 
      flex-direction: row;
    }
     
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $border-color_secondary;
    }
  }
  
  &--hr {
    margin-top: $indent_s;
    order: 1;
    
    @media #{$tablet-avg-and-up} { 
      margin-top: 0;
      margin-right: $indent_xl;
      flex-shrink: 0;
      order: 0;
      width: 25%;
    }
    
    .person_hr {
      .person-photo--container {
        @media #{$tablet-below-avg} {
          width: 36px;
          height: 36px;  
        }
      }
      
      .person-info--name {
        @media #{$tablet-below-avg} {
          margin-bottom: 0;
        }
      }
    }
    
  }
  
  &--info {
    cursor: pointer;
    flex-grow: 1;    
    order: 0;
    
    @media #{$tablet-avg-and-up} { 
      order: 1;
    }
    
    ul {
      padding: 0;
      display: flex;
      list-style-type: none;
      line-height: 1;
      
      li {            
        font-size: $font_size--xs; 
        
        &:not(:last-child) {        
          &:after {
            content: '/';
            padding: 0 $indent_xs;
          }
        }
      }
    }
  }
  
  &-requirements {
    padding: $indent_xxxs $indent_xxs;
    padding-right: $indent_xs;
    display: inline-block;
    vertical-align: middle;
    border-radius: 16px;
    background: #fae6eb;
    
    i {
      margin-right: $indent_xs;
      float: left;
      color: #ba6a7f;
    }
    
    ul {
      margin: 0;
      
      li {
        padding: $indent_xxxs 0;       
        font-weight: bold;
        color: #ba6a7f; 
      }      
    }
  }
  
  &-job-infotags {
    ul {
      flex-wrap: wrap;
      margin: 0;
      
      li {
        padding: $indent_xxs 0;      
        color: $text-color--lightgrey;
        white-space: nowrap;
        
        i {
          margin-right: $indent_xxs;          
        }        
      }      
    }
    
  }
  
  &-title {
    margin-bottom: $indent_s;
    
    h4 {  
      line-height: $line-height_s;
      
      a {  
        text-decoration: none;
      }  
      
      span {
        margin-left: $indent_s;
      }  
      
      & + .vacancie-job-infotags {
        margin-top: $indent_xxs;
      }
    }
  }
  
  &-description {
    p {
      font-size: $font_size--s;
      line-height: $line-height_s;
      
      & + .vacancie-job-infotags {
        margin-top: $indent_m;
      }
    }
    
    & + .vacancie-title {
      margin-top: $indent_m;
    }
        
  }
  
  &:hover {
    background: $color--light-gray-shade-2;
    transition: $transition;
  }
}
