// Border

$border-color_primary: $color--light-gray-shade-4;
$border-color_secondary: $color--light-gray-shade-1;
$border-color_dark-blue: $color--light-blue-shade-3;


$border-color_responsive-dark: rgba(0,0,0,.05);
