// Colors

$color--blue-primary: #4A5FFB;
$color--dark-blue-shade-1: #31708F;
$color--dark-blue-shade-2: #0A2837;
$color--light-blue-shade-1: #0d6efd;
$color--light-blue-shade-2: #D9EDF7;
$color--light-blue-shade-3: #DFE3EC;

$color--orange-primary: #F69536;
$color--orange-shade-1: #F29D0D;
$color--dark-gray-primary: #333;
$color--dark-gray-shade-1: #777;
$color--dark-gray-shade-2: #999;
$color--dark-gray-shade-4: #cccccc;
$color--dark-gray-shade-5: #dddddd;
$color--dark-gray-shade-6: #eeeeee;
$color--dark-gray-shade-7: #4f4f4f;
$color--dark-gray-shade-8: #6c757d;


$color--green-primary: #2DB05D;
$color--green-secondary: #E0F3E7;

$color--dark-green: #008489;

$black: #000;
$white: #fff;

$color--light-gray-shade-1: #F0F5F9;
$color--light-gray-shade-2: #FAFBFC;
$color--light-gray-shade-3: #d1dadf;
$color--light-gray-shade-4: #e7e7e7;
$color--light-gray-shade-5: #f8f9fa;

$bg-color: $white;
