// Gradients

$gradient--intro: linear-gradient(135deg, $color--dark-blue-shade-1 0%, $color--dark-blue-shade-2 100%);
$gradient--intro-content: linear-gradient(135deg, $color--blue-primary 0%, $color--dark-blue-shade-1 100%);

$gradient--icon_orange: linear-gradient(45deg, #CC7700 0%, #FF9500 18.4%, #FFD500 81.6%, #FFE433 100%);
