// Typography

$text-color--base: $color--dark-gray-primary;
$text-color--grey: $color--dark-gray-shade-1;
$text-color--lightgrey: $color--dark-gray-shade-2;

$text-color--link: $color--blue-primary;

$notice-text-color: $color--dark-blue-shade-1;
$notice-link-color: $color--dark-blue-shade-2;

